<div class="flex flex-col w-full h-screen overflow-hidden">
    <app-navbar></app-navbar>
    <div class="flex flex-1 justify-center items-center relative">
        <div class="md:w-11/12 md:h-[91.666667%] w-full h-full p-4 rounded-lg shadow-lg dark:shadow-white absolute shadow-gray-900">
            
            <div class="flex flex-row w-full gap-x-4">
                <div class="avatar">
                    <div class="w-96 rounded-full">
                      <img src="assets/img/stella.jpeg" />
                    </div>
                </div>
                <div class="flex flex-1 flex-col relative justify-center gap-y-4 items-center">
                    <div class="w-11/12 flex justify-center items-center py-4 gap-x-2 shadow-sm dark:shadow-white shadow-black rounded-lg">
                        <span>Asdcf asdasd</span>
                    </div>
                    <div class="w-11/12 flex justify-center items-center py-4  gap-x-2 shadow-sm shadow-green-500 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="green"><path d="M10.243 16.314L6 12.07l1.414-1.414l2.829 2.828l5.656-5.657l1.415 1.415l-7.071 7.07Z"/><path fill-rule="evenodd" d="M1 12C1 5.925 5.925 1 12 1s11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12Zm11 9a9 9 0 1 1 0-18a9 9 0 0 1 0 18Z" clip-rule="evenodd"/></g></svg>
                        <span>asdasd</span>
                    </div>
                    <div class="w-11/12 flex justify-center items-center py-4 gap-x-2 shadow-sm shadow-red-500 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="red" stroke-width="1.5"><circle cx="12" cy="12" r="10"/><path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5"/></g></svg>
                        <span>asdasd</span>
                    </div>
                    <div class="w-11/12 flex justify-center items-center py-4 gap-x-2 shadow-sm shadow-yellow-500 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#d9db51" stroke-width="2"><path stroke-linecap="round" d="M16 14H8m8-4H8"/><circle cx="12" cy="12" r="10"/></g></svg>
                        <span>Active</span>
                    </div>
                </div>
            </div>
            <div class="divider">MATCH HISTORY</div>
            <app-match-history></app-match-history>
        </div>
    </div>
    <app-speed-dial></app-speed-dial>
</div>
