<div>
<!-- component -->
<section class="container mx-auto p-6 font-mono">
    <div class="mb-8 w-full overflow-hidden rounded-lg shadow-lg">
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr class="text-md border-2 border-gray-400 bg-gray-100 dark:bg-gray-800 text-left font-semibold uppercase tracking-wide text-gray-900">
              <th class="px-4 py-3 text-black dark:text-gray-300 border-r-2 border-gray-400">Player 1</th>
              <th class="px-4 py-3 text-black dark:text-gray-300 border-r-2 border-gray-400">Player 1 Score</th>
              <th class="px-4 py-3 text-black dark:text-gray-300 border-r-2 border-gray-400">Player 2 Score</th>
              <th class="px-4 py-3 text-black dark:text-gray-300">Player 2</th>
            </tr>
          </thead>
          <tbody class="bg-white dark:bg-gray-800">
            <tr class="text-gray-700">
              <td class="border px-4 py-3">
                <div class="flex items-center text-sm">
                  <div class="relative mr-3 h-8 w-8 rounded-full md:block">
                    <img class="h-full w-full rounded-full object-cover" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                  </div>
                  <div>
                    <p class="font-semibold text-black dark:text-gray-300">Sufyan</p>
                  </div>
                </div>
              </td>
              <td class="border px-4 py-3 text-xs text-center text-black dark:text-gray-300">
                10
              </td>
              <td class="border px-4 py-3 text-sm text-center text-black dark:text-gray-300">7</td>
              <td class="border px-4 py-3">
                <div class="flex items-center text-sm">
                  <div>
                    <p class="font-semibold text-black dark:text-gray-300">Sufyan</p>
                  </div>
                  <div class="relative ml-2 mr-3 h-8 w-8 rounded-full md:block justify-center items-center">
                    <img class="h-full w-full rounded-full object-cover" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="text-gray-700">
                <td class="border px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div class="relative mr-3 h-8 w-8 rounded-full md:block">
                      <img class="h-full w-full rounded-full object-cover" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                    <div>
                      <p class="font-semibold text-black dark:text-gray-300">Sufyan</p>
                    </div>
                  </div>
                </td>
                <td class="border px-4 py-3 text-xs text-center text-black dark:text-gray-300">
                  10
                </td>
                <td class="border px-4 py-3 text-sm text-center text-black dark:text-gray-300">7</td>
                <td class="border px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div>
                      <p class="font-semibold text-black dark:text-gray-300">Sufyan</p>
                    </div>
                    <div class="relative ml-2 mr-3 h-8 w-8 rounded-full md:block justify-center items-center">
                      <img class="h-full w-full rounded-full object-cover" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="text-gray-700">
                <td class="border px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div class="relative mr-3 h-8 w-8 rounded-full md:block">
                      <img class="h-full w-full rounded-full object-cover" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                    <div>
                      <p class="font-semibold text-black dark:text-gray-300">Sufyan</p>
                    </div>
                  </div>
                </td>
                <td class="border px-4 py-3 text-xs text-center text-black dark:text-gray-300">
                  10
                </td>
                <td class="border px-4 py-3 text-sm text-center text-black dark:text-gray-300">7</td>
                <td class="border px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div>
                      <p class="font-semibold text-black dark:text-gray-300">Sufyan</p>
                    </div>
                    <div class="relative ml-2 mr-3 h-8 w-8 rounded-full md:block justify-center items-center">
                      <img class="h-full w-full rounded-full object-cover" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="text-gray-700">
                <td class="border px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div class="relative mr-3 h-8 w-8 rounded-full md:block">
                      <img class="h-full w-full rounded-full object-cover" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                    <div>
                      <p class="font-semibold text-black dark:text-gray-300">Sufyan</p>
                    </div>
                  </div>
                </td>
                <td class="border px-4 py-3 text-xs text-center text-black dark:text-gray-300">
                  10
                </td>
                <td class="border px-4 py-3 text-sm text-center text-black dark:text-gray-300">7</td>
                <td class="border px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div>
                      <p class="font-semibold text-black dark:text-gray-300">Sufyan</p>
                    </div>
                    <div class="relative ml-2 mr-3 h-8 w-8 rounded-full md:block justify-center items-center">
                      <img class="h-full w-full rounded-full object-cover" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="text-gray-700">
                <td class="border px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div class="relative mr-3 h-8 w-8 rounded-full md:block">
                      <img class="h-full w-full rounded-full object-cover" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                    <div>
                      <p class="font-semibold text-black dark:text-gray-300">Sufyan</p>
                    </div>
                  </div>
                </td>
                <td class="border px-4 py-3 text-xs text-center text-black dark:text-gray-300">
                  10
                </td>
                <td class="border px-4 py-3 text-sm text-center text-black dark:text-gray-300">7</td>
                <td class="border px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div>
                      <p class="font-semibold text-black dark:text-gray-300">Sufyan</p>
                    </div>
                    <div class="relative ml-2 mr-3 h-8 w-8 rounded-full md:block justify-center items-center">
                      <img class="h-full w-full rounded-full object-cover" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  
</div>